*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: #008080;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.wrap {
  margin: 0 auto;
  padding: 15px;
  max-width: 768px;
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .wrap {
    margin: 35px;
  }
}

.navList {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.navList a {
  text-decoration: none;
  color: #00e6e6;
}

.navList a.active {
  color: #ff9966;
}